html{
    /* para que no tome en cuenta el padding y border en el width y height */
    box-sizing: border-box;
}
body{
    background-color: bisque;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px auto;
    width: 1024px;
}
header{
    position: fixed;
    top: 0px;
    left: 0px;
}
.lista-personas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
button{
    background-color: green;
    border: none;
    color: white;
    padding: 20px 10px;
}
.tarjeta{
    border: 2px dashed gray;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-top: 40px;
    padding: 0px;
    width: 200px;
}
#direccion, #telefono{
    background-color: lightgray;
}
#foto{
    border-radius: 50px;
    width: 100px;
}
#nombre, #direccion, #telefono{
    font-weight: bold;
}